

	body{
		margin-bottom: 50px;
	}

	
		div.holder{
			width: 100%;
			margin: 0px auto;
	}

		div.areaone{
			width: inherit;
			height: 200px;
	}

		div#subareone{
			width: 50%;
			float: left;
	}
		div#subareaone-1{
			text-align: center;
			width: 50%;
			float: left;
	}

		img#contact{
			width: 98%;
			margin-top: 39px;
			margin-left: 43px;
			height: 240px;
	}

		div.areathree{
			text-align: center;
			height: 275px;

	}

	
		a#linksspecific{
			text-decoration: none;
			cursor: pointer;
	}

		a#linksspecific:hover{
			text-decoration-style: dotted;
			color: #0e3667;
	}
		div.areathreeone,
		div.areathreetwo,
		div.areathreethree{
			width: 30%;
			float: left;
	}

		div.areathreeone{
			margin-right: 30px;
	}	

		div.areathreetwo{
			margin-right: 30px;
	}

		div.footer{
			padding: 20px;
			text-align: center;
			margin-bottom: 30px;
	}
	
	
		div.font{
			font-family: verdana;
			font-size: 20px;
	
	}
		
		div.static{
			position: static;
			border: 2px solid #62ACB12;
	}
	
		div.fixed{
			bottom: 0;
			right: 0;
			width: 200px;
	}
	
		div.
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
			
	
	
	
	
	